<h1>Sending Messages</h1>

<% if user_signed_in? %>
  <p>To: <%= current_user.phone %></p>

  <%= form_with url: sms_path, method: :post, local: true do %>
    <div>
      <label for="message">Message:</label>
      <%= text_field_tag :message, nil, required: true %>
    </div>
    <%= submit_tag "SMS", data: { confirm: 'Tem certeza que deseja enviar a mensagem?' } %>
  <% end %>

  <%= form_with url: whatsapp_path, method: :post, local: true do %>
    <div>
      <label for="message">Message:</label>
      <%= text_field_tag :message, nil, required: true %>
    </div>
    <%= submit_tag "Zap", data: { confirm: 'Tem certeza que deseja enviar a mensagem?' } %>
  <% end %>
<% end %>